# Stolen from https://medium.com/merapar/nginx-reverse-proxy-image-resizing-aws-cece1db5da01
# NGINX will create a cache capable of storing 100MB of keys and 1000MB of data.
proxy_cache_path /tmp/nginx_cache levels=1:2
keys_zone=nginx_cache:100M max_size=1G inactive=40d;

upstream s3bucket {
    server {{ default .Env.BACKEND_HOST "no_such_bucket.s3-us-west-2.amazonaws.com" }}:443;
    keepalive 10;
    keepalive_requests 100;
}

upstream s3cache {
    server 127.0.0.1:{{ default .Env.RESIZE_LISTEN_PORT "10178" }};
    keepalive 10;
    keepalive_requests 100;
}

# resizing server
server {
    listen {{ default .Env.SERVER_PORT "8080" }};
    server_name _;

    location / {
        access_log off;
        add_header Content-Type text/plain;
        return 404 "Not found";
    }

    location /nginx_status {
        access_log off;
        add_header Content-Type text/plain;
        stub_status on;
    }

    location /internal/health {
        access_log off;
        add_header Content-Type text/plain;
        return 200;
    }

    location @my404handler {
        access_log off;
        add_header Content-Type text/plain;
        return 404 "Not found";
    }

    location @my415handler {
        add_header Content-Type text/plain;
        return 415 "Invalid image or parameters";
    }

    location /listings/ {
        # Set default jpg quality
        set $jpgqual {{ default .Env.JPG_QUALITY "85" }};
        if ($arg_q = "") {
          set $jpgqual $arg_q;
        }
        # Set width and height, but if empty return "-"
        set $width $arg_w;
        set $height $arg_h;
        if ($width = "") {
          set $width "-";
        }
        if ($height = "") {
          set $height "-";
        }
        image_filter_buffer 10M;
        image_filter_jpeg_quality $jpgqual;
        image_filter crop $width $height;
        # Clear connection so keepalive works
        proxy_set_header Connection "";
        proxy_intercept_errors on;
        proxy_pass http://s3cache;
        error_page 301 302 403 404 =404 @my404handler;
        error_page 415 = @my415handler;
    }
}

# back-end virtual host for retrieving file from AWS
server {
    listen {{ default .Env.RESIZE_LISTEN_PORT "10178" }};
    server_name _;
    resolver_timeout 2s;
    # We have to buffer above for image_filter module
    proxy_buffering off;
    # Not needed by AWS.
    proxy_pass_request_body off;
    proxy_pass_request_headers off;
    # Clean up the headers going to and from S3.
    proxy_hide_header "x-amz-id-2";
    proxy_hide_header "x-amz-request-id";
    proxy_hide_header "x-amz-storage-class";
    proxy_hide_header "Set-Cookie";
    # Remove wrong content-type from s3
    proxy_hide_header "Content-Type";
    proxy_ignore_headers "Set-Cookie";
    proxy_connect_timeout   30;
    proxy_send_timeout      30;
    proxy_read_timeout      30;

    location / {
        access_log off;
        add_header Content-Type text/plain;
        return 404 "Not found";
    }

    location /listings/ {
        # Drop query params toward s3
        set $args "";
        # Use the upstream with https
        proxy_pass https://s3bucket;
        # Need to pass hostname for SNI
        proxy_set_header Host {{ default .Env.BACKEND_HOST "no_such_bucket.s3-us-west-2.amazonaws.com" }};
        # Clear connection so keepalive works
        proxy_set_header Connection "";
        # Set content-type correctly
        add_header Content-Type "image/jpg";
        proxy_cache nginx_cache;
        proxy_cache_key "temp_$proxy_host$uri";
        proxy_cache_valid 30d;
        expires 100d;
    }
}
