# Stolen from https://medium.com/merapar/nginx-reverse-proxy-image-resizing-aws-cece1db5da01
# NGINX will create a cache capable of storing 100MB of keys and 1000MB of data.
proxy_cache_path /tmp/nginx_cache levels=1:2
keys_zone=nginx_cache:100M max_size=1G inactive=40d;

upstream s3bucket {
    server {{ default .Env.BACKEND_HOST "no_such_bucket.s3-us-west-2.amazonaws.com" }}:443;
    keepalive 10;
    keepalive_requests 100;
}

upstream s3cache {
    server 127.0.0.1:{{ default .Env.RESIZE_LISTEN_PORT "10178" }};
    keepalive 10;
    keepalive_requests 100;
}

# resizing server
server {
    listen {{ default .Env.SERVER_PORT "8080" }};
    server_name _;

    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";
    add_header Cache-Control "public";
    expires max;

    location / {
        access_log off;
        return 404 "Not found";
    }

    location /nginx_status {
        access_log off;
        stub_status on;
    }

    location /internal/health {
        access_log off;
        return 200 "IMOK";
    }

    location @my304handler {
        # Aggressive caching for the win!
        access_log off;
        return 304 "Not Modified";
    }

    location @my404handler {
        access_log off;
        return 404 "Not found";
    }

    location @my415handler {
        return 415 "Invalid image or parameters";
    }

    location @my420handler {
        # Set jpg quality, but if empty use env. var.
        set $jpgqual $arg_q;
        if ($jpgqual = "") {
          set $jpgqual {{ default .Env.JPG_QUALITY "85" }};
        }
        # Set width and height, but if empty return "-"
        set $width $arg_w;
        set $height $arg_h;
        if ($width = "") {
          set $width "-";
        }
        if ($height = "") {
          set $height "-";
        }
        image_filter_buffer 10M;
        image_filter_jpeg_quality $jpgqual;
        image_filter crop $width $height;
        # Clear connection so keepalive works
        proxy_set_header Connection "";
        proxy_intercept_errors on;
        proxy_pass http://s3cache;
        error_page 301 302 403 404 =404 @my404handler;
        error_page 415 = @my415handler;
    }

    location {{ default .Env.URL_PREFIX "~ ^/"}} {
        set $testcache "$http_if_none_match-$http_if_modified_since";
        if ($testcache != "-") {
            # Just assume it's cached if they ask
            return 304;
        }
        set $testvar "$arg_w$arg_h";
        if ($testvar != "") {
            # If options are specified, do image resizing
            return 420;
        }
        # Else serve directly from s3cache
        # Clear connection so keepalive works
        proxy_set_header Connection "";
        proxy_intercept_errors on;
        proxy_pass http://s3cache;
        error_page 301 302 403 404 =404 @my404handler;
        error_page 304 = @my304handler;
        error_page 420 =200 @my420handler;
    }
}

# back-end virtual host for retrieving file from AWS
server {
    listen {{ default .Env.RESIZE_LISTEN_PORT "10178" }};
    server_name _;
    resolver_timeout 2s;
    # We have to buffer above for image_filter module
    proxy_buffering off;
    # Not needed by AWS.
    proxy_pass_request_body off;
    proxy_pass_request_headers off;
    # Clean up the headers going to and from S3.
    proxy_hide_header "x-amz-replication-status";
    proxy_hide_header "x-amz-version-id";
    proxy_hide_header "x-amz-id-2";
    proxy_hide_header "x-amz-request-id";
    proxy_hide_header "x-amz-storage-class";
    proxy_hide_header "Set-Cookie";
    # Remove wrong content-type from s3
    proxy_hide_header "Content-Type";
    proxy_ignore_headers "Set-Cookie";
    proxy_connect_timeout   30;
    proxy_send_timeout      30;
    proxy_read_timeout      30;

    location / {
        # Drop query params toward s3
        set $args "";
        # Use the upstream with https
        proxy_pass https://s3bucket;
        # Need to pass hostname for SNI
        proxy_set_header Host {{ default .Env.BACKEND_HOST "no_such_bucket.s3-us-west-2.amazonaws.com" }};
        # Clear connection so keepalive works
        proxy_set_header Connection "";
        # Set content-type correctly
        add_header Content-Type "image/jpg";
        proxy_cache nginx_cache;
        proxy_cache_key "temp_$proxy_host$uri";
        proxy_cache_valid 1d;
    }
}
