# Stolen from https://medium.com/merapar/nginx-reverse-proxy-image-resizing-aws-cece1db5da01
# NGINX will create a cache capable of storing 100MB of keys and 1000MB of data.
proxy_cache_path /tmp/nginx_cache levels=1:2
keys_zone=nginx_cache:100M max_size=1G inactive=40d;

upstream s3bucket {
    server {{ .Env.BUCKET_NAME }}.s3-{{ default .Env.BUCKET_REGION .Env.AWS_DEFAULT_REGION }}.amazonaws.com:443;
    keepalive 10;
    keepalive_requests 100;
}

upstream s3cache {
    server 127.0.0.1:{{ default .Env.RESIZE_LISTEN_PORT "10178" }};
    keepalive 10;
    keepalive_requests 100;
}

# resizing server
server {
    listen {{ default .Env.LISTEN_PORT "8080" }};
    server_name _;
    proxy_buffering off;
    proxy_http_version 1.1;

    location / {
        return 502;
    }

    location /nginx_status {
        access_log off;
        stub_status on;
    }

    location /internal/health {
        access_log off;
        return 200;
    }

    location ~ "^/listings/.+\.jpg[?][w]=([1-9][0-9]{1,3})[&]h=([1-9][0-9]{1,3})" {
        # Set width and height, but if empty return "-"
        set $width $1;
        set $height $2;
        if ($width = "false") {
          set $width "-";
        }
        if ($height = "false") {
          set $height "-";
        }
        error_page 415 =404 /empty.gif;
        image_filter_buffer 2M;
        image_filter_jpeg_quality {{ default .Env.JPG_QUALITY "85" }}; # Desired JPG quality
        image_filter resize $width $height;
        proxy_pass http://s3cache;
        # Clear connection so keepalive works
        proxy_set_header Connection "";
    }
}

# back-end virtual host for retrieving file from AWS
server {
    listen {{ default .Env.RESIZE_LISTEN_PORT "10178" }};
    server_name _;
    resolver_timeout 2s;
    proxy_buffering off;
    proxy_http_version 1.1;
    # Not needed by AWS.
    proxy_pass_request_body off;
    proxy_pass_request_headers off;
    # Clean up the headers going to and from S3.
    proxy_hide_header "x-amz-id-2";
    proxy_hide_header "x-amz-request-id";
    proxy_hide_header "x-amz-storage-class";
    proxy_hide_header "Set-Cookie";
    proxy_ignore_headers "Set-Cookie";
    proxy_connect_timeout   30;
    proxy_send_timeout      30;
    proxy_read_timeout      30;

    location / {
        return 502;
    }

    location /listings/ {
        # Drop query params toward s3
        set $args "";
        # Use the upstream with https
        proxy_pass https://s3bucket;
        # Need to pass hostname for SNI
        proxy_set_header Host {{ .Env.BUCKET_NAME }}.s3-{{ default .Env.BUCKET_REGION .Env.AWS_DEFAULT_REGION }}.amazonaws.com;
        # Clear connection so keepalive works
        proxy_set_header Connection "";
        error_page 415 =404 /empty.gif;
        proxy_cache nginx_cache;
        proxy_cache_key "temp_$proxy_host$uri";
        proxy_cache_valid 30d;
        expires 100d;
    }
}
